@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

#products-container {
    display: flex;    
}

/*

 .products-column {
    flex: 50%;
}

@media screen and (max-width: 600px) {
    .product-column {
        flex: 100%;
    }
  } 
  */ 

.product-container {
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: lightgrey;
    width: 150px;
    margin-bottom: 5px;
    font-family: Rubik;
}

.id {
    display: none;
}
.product-image > img {
    width:100px;
}

.product-name {
    font-size:larger;

}

.product-text {
    color:white;
    background-color: darkgray;
}
